textarea{
    background-color: #fff;
    color: black;
}

.flex-grid{
    display: grid;
    /* flex-wrap: wrap; */
    flex-flow: row wrap;
    flex-wrap: wrap;
    flex: 1fr 1fr 1fr;
}

.col{
    margin: 5px;
    flex:2;
    height: 100px;
}

input{
    background-color: #7FFFD4;
    color: black;
    height: 50px;
}

h1{
    margin: 0 auto;
}